/*
* Tooltip is to display note in measurement field
 */

/* Tooltip container */
:not(td).tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* inline-block does not work in <td> as it overrides display: table-cell and bunches up the cells */

td.tooltip {
  position: relative;
  display: table-cell;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -10%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#Inputfield_unit_set {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

#Inputfield_unit_set.htmx-swapping {
  opacity: 0.1;
  transition: opacity 100ms ease-out;
}

#Inputfield_unit_set.htmx-settling {
  opacity: 0.1;
}